.pagination{
    margin : 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;

    .page-item{
        margin : 0px 5px;
    }

    .page-link{
        color : #007bff;
        background-color: #fff;
        border : 1px solid #dee2e6;
        font-size : 1.2rem;
        padding : 0.5em 1em;
    }

    .page-link:hover,
    .page-link:focus{
        color : #0056b3;
        text-decoration: none;
        background-color: #e9ecef;
        border-color: #dee2e6;
        cursor: pointer;
    }

    .disabled {
        color : #6c757d;
        pointer-events: none;
        cursor: none;
        background-color: #fff;
        border-color: #dee2e6;
    }

    .active {
        z-index: 1;
        color : #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

}